@import "../styles//variable.scss";

.v-main {
  .v-main__wrap {
    .container {
      .main_div {
        .chart_third_row {
            .col {
                margin: 3% 0%!important;
            }
        }
        .chart_second_row{
            .col{
                .v-card{
                    .apexcharts-canvas {
                        .apexcharts-toolbar {
                            display: none !important;
                        }
                    }
                }
            }
        }
        .chart_upper_row {
          //   background-color: rgb(224, 217, 217)(238, 238, 238) !important;
          display: flex !important;
          flex-wrap: wrap !important;
          .col {
            display: flex !important;
            flex-wrap: wrap !important;
            justify-content: space-between !important;

            .v-card {
              margin: 10px !important;
              .apexcharts-canvas {
                .apexcharts-toolbar {
                  display: none !important;
                }
              }
            }
          }
        }
      }
    }
  }
}



@media only screen and (max-width: 672px) {
  .v-main {
    .v-main__wrap {
      .container {
        .main_div {
          .chart_upper_row {
            display: flex !important;
            justify-content: center !important; 
            flex-wrap: wrap !important;
          }
        }
      }
    }
  }
}
