$dark-blue: #303c54;
$fade-blue : #3c4b64;
$dashboard-text-color : white;
$dashboard-fontsize : large;
$admin-nav-head-bg : #ebedef ;
$admin-nav-text-color : #fafbfc;
$menu-pagnation-color : gray;
$mobile-breakpoint : 672px;